# Individual Project 2
<p>Author: Zane Brown<br>Version: 1<br>DS-160-02<br>Term: SP '22<p>

In [107]:
import numpy as np
import pandas as pd

In [108]:
#1. Read the file into a dataset named "df".
df=pd.read_csv("weather_2012.csv")

In [109]:
#2. Display 1st 5 rows, last 5 rows and random sample of 5 rows.
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [110]:
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [111]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8679,2012-12-27 15:00:00,-5.0,-6.2,91,37,0.6,100.37,"Snow,Blowing Snow"
4413,2012-07-02 21:00:00,20.0,10.4,54,6,25.0,100.81,Mainly Clear
507,2012-01-22 03:00:00,-18.4,-23.0,67,0,16.1,102.75,Cloudy
5156,2012-08-02 20:00:00,27.2,15.4,48,19,25.0,100.52,Cloudy
4994,2012-07-27 02:00:00,16.9,16.3,96,4,25.0,100.08,Mainly Clear

In [112]:
#3. Display a list of all of the columns.
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [113]:
#4. Rename columns
## Put copy into df1 so df still has original columns.
df1=df
df=df.rename(columns={'Date/Time':'date_time','Temp (C)':'temp_c', 'Dew Point Temp (C)':'dew_point',
                      'Rel Hum (%)':'relative_humidity', 'Wind Spd (km/h)':'wind_speed', 'Visibility (km)':'visibility',
                      'Stn Press (kPa)':'pressure','Weather':'weather'})
df

,date_time,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [114]:
#5. Get standard statistics for each column that has numerical values.
df.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [115]:
#6.Add a column temp_f that contains temperatures from temp_c in fahrenheit.
df['temp_f']=(df.temp_c*1.8)+32
df.head()

,date_time,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,temp_f
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,28.76
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,28.76
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",28.76
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",29.30
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,29.30

In [116]:
#7 Rearrange the columns so that temp_f is right before temp_c.
df=df[df.columns[[0,8,1,2,3,4,5,6,7]]]
df.head()

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog

In [117]:
#8.Display datatypes for all of the columns.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   object
 1   temp_f             8784 non-null   float64
 2   temp_c             8784 non-null   float64
 3   dew_point          8784 non-null   float64
 4   relative_humidity  8784 non-null   int64
 5   wind_speed         8784 non-null   int64
 6   visibility         8784 non-null   float64
 7   pressure           8784 non-null   float64
 8   weather            8784 non-null   object
dtypes: float64(5), int64(2), object(2)
memory usage: 617.8+ KB

In [118]:
#9. convert date_time to actual date/time datatype.
df['date_time']=pd.to_datetime(df['date_time'])

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   datetime64[ns]
 1   temp_f             8784 non-null   float64
 2   temp_c             8784 non-null   float64
 3   dew_point          8784 non-null   float64
 4   relative_humidity  8784 non-null   int64
 5   wind_speed         8784 non-null   int64
 6   visibility         8784 non-null   float64
 7   pressure           8784 non-null   float64
 8   weather            8784 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(2), object(1)
memory usage: 617.8+ KB

In [120]:
#10. Get a count of the different weather designations and display top 10 weather categories.
df['weather'].value_counts()[:10]

Mainly Clear     2106
Mostly Cloudy    2069
Cloudy           1728
Clear            1326
Snow              390
Rain              306
Rain Showers      188
Fog               150
Rain,Fog          116
Drizzle,Fog        80
Name: weather, dtype: int64

In [121]:
#11. get data for temp_f more than 90, humidity less than 50, dewpoint more than 17 and clear weather.
df2=df.query('temp_f>90.00 & relative_humidity<50 & dew_point>17.00 & weather=="Clear"')
df2

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
5199,2012-08-04 15:00:00,91.04,32.8,18.8,44,17,24.1,101.39,Clear
5200,2012-08-04 16:00:00,90.50,32.5,18.5,44,15,24.1,101.34,Clear
5201,2012-08-04 17:00:00,90.50,32.5,19.8,47,13,24.1,101.32,Clear

In [130]:
df['month']=df['date_time'].dt.month
df.sample(5)

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,month
3096,2012-05-09 00:00:00,54.50,12.5,11.0,91,0,3.2,100.27,"Rain,Fog",5
2022,2012-03-25 06:00:00,38.84,3.8,-0.9,71,15,24.1,100.76,Rain Showers,3
1269,2012-02-22 21:00:00,36.14,2.3,-0.9,79,15,25.0,99.33,Mostly Cloudy,2
8564,2012-12-22 20:00:00,19.58,-6.9,-10.6,75,32,16.1,99.83,Snow,12
3689,2012-06-02 17:00:00,56.30,13.5,11.0,85,17,24.1,100.36,Drizzle,6

In [136]:
df.to_csv('weather_2012_new.csv', index=False)

In [138]:
df3=pd.read_csv('weather_2012_new.csv')
df3.head()

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,month
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog,1
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog,1
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",1
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",1
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog,1